<!DOCTYPE html>
<html>
<head>
    <title>Iris Classifier</title>
</head>
<body>
    <h1>Iris Classifier</h1>
    <form action="/predict" method="post">
        <!-- <label for="sepal-length">Sepal Length:</label>
        <input type="text" id="sepal-length" name="sepal_length" required><br>
        <label for="sepal-width">Sepal Width:</label>
        <input type="text" id="sepal-width" name="sepal_width" required><br> -->
        <label for="petal-length">Petal Length:</label>
        <input type="text" id="petal-length" name="petal_length" required><br>
        <label for="petal-width">Petal Width:</label>
        <input type="text" id="petal-width" name="petal_width" required><br>
        
        <input type="submit" value="Predict">
    </form>
</body>
</html>
