<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, World!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>


    <div class="container">
        <h1>Hello, World!</h1>
        <p>Welcome to our simple website!</p>
        <a href="/about" class="btn">About</a> <!-- Link to the about page -->
        <a href="/contact" class="btn">Contact</a> <!-- Link to the contact page -->
    </div>
</body>
</html>
