<style>
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../images/image2.jpg');
  background-size: cover;
  background-position: center;
}


h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }



footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px 0;
}
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.social-links {
text-align: center;
margin-top: 20px;
}

.social-links .btn {
margin: 5px;
font-size: 20px;
}

.result {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
</style>